<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/css-home.css">
  <!--<link rel="stylesheet" type="text/css" href="/css/css-products.css">-->
  <script src="/js/js-product.js"></script>
  </head>

  <div class="header">
    <h1>Welcome to My shop </h1>
    <p>Chúng Tôi Rất Hân Hạnh Được Phục Vụ Quý Khách!!!!!</p>
  </div>

