<div class="side">
    <div class="col-sm-4">
      <h1>Sales</h1>

      <p>This page will display a list of stores information in the ATN</p>
     

      <p>The information on sales statistics includes:</p>
      <ol>
        <li>Number of rows entered this month</li>
        <li>The number of goods sold this month</li>
        <li>Number of items sold during the day (displayed by day based on bill)</li>
    </ol>

      <p>For users to use the statistics page</p>
      <p>For Staff:</p>
      <ol>
          <li>View only current store information is working</li>
      </ol>
      <br><br>

      <p>For Admin:</p>
      <ol>
          <li>See information of the store</li>
      </ol>
  </div>     
</div>