<div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <div class="avatar" style="height:400px;"></div>
    <p>Xin chào mọi người mình là Sang Trần, admin của page này!!!</p>
    <h3>Sản Phẩm Khuyến Mãi</h3>
    <p>Các sản phẩm tiêu biểu</p>
    <div class="fakeimg1" style="height:200px;">Best Seller</div><br>
    <div class="fakeimg2" style="height:200px;">Best Seller</div><br>
    <div class="fakeimg3" style="height:200px;">Best Seller</div>
  </div>