<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/header-home') -%>
  <title>Page Home</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>
  <%- include('partials/menu') -%>

  <div class="row">
    <%- include('partials/row-left') -%>

    <div class="main">
      <h2>Biệt Đội siêu Hùng</h2>
      
      <div class="fakeimg4" style="height:200px;">Image</div>
      
      <p>Đây là hàng mới về, nếu bạn ưng mẫu nào vui lòng liên hệ và đặt hàng với chúng tôi!!!</p>
      <br>
      <h2>Biệt Đội Avenger</h2>
      
      <div class="fakeimg5" style="height:200px;">Image</div>
      
      <p>Đây là hàng mới về, nếu bạn ưng mẫu nào vui lòng liên hệ và đặt hàng với chúng tôi!!!</p>
    </div>
  </div>


  
  

  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>

